[submodule "src/firefox-addons"]
	path = src/firefox-addons
	url = git@github.com:mitaroThanken/firefox-addons.git
[submodule "src/Honoka"]
	path = src/Honoka
	url = git@github.com:windyakin/Honoka.git
[submodule "src/jquery"]
	path = src/jquery
	url = git://github.com/jquery/jquery.git
[submodule "src/keyMirror"]
	path = src/keyMirror
	url = git@github.com:STRML/keyMirror.git
